{% extends 'layout.twig' %}

{% block title %}Działalność{% endblock %}

{% block content %}

            <div class="clear"></div>
        </header>


        <div class="content dzialalnosc">
            <article>
                <h1>Działalność</h1>
                <div>
                    Każdy może być członiem tylko jednej drużyny w jednostce paramilitarnej oraz tylu sekcji naukowych i sportowych na ile pozwala mu czas.
                </div>
                
                <article class="Bborder schemat">
                    <div class="schemat">
                        <h1 class="button"><a href="#szkoleniowa">Sekcja szkoleniowa</a></h1>
                    </div>
                    <div class="schemat">
                        <h1 class="button"><a href="#naukowe">Sekcje naukowe</a></h1>
                    </div>
                    <div class="schemat">
                        <h1 class="button"><a href="#sportowe">Sekcje sportowe</a></h1>
                    </div>
                </article>

            

                <section class="Bborder">
                    <h2>Statutowe cele KLA to:</h2>
                    <ul>
                        <li>poszerzanie wiedzy członków,</li>
                        <li>przygotowywanie członków do sytuacji kryzysowych,</li>
                        <li>zdobywanie przez członków nowych umiejętności praktycznych,</li>
                        <li>kształtowanie charakterów i praca nad własnymi słabościami,</li>
                        <li>promocja działalności obronnej i patriotyzmu,</li>
                        <li>obrona terytorialna Krakowa w sytuacjach zagrożenia.</li>
                    </ul>
                    
                    <p>Działalność KLA opiera się na pracy społecznej członków.</p>
    
                    <h3>Do najczęstszych rodzajów aktywności KLA należą:</h3> 
                    <ul>
                        <li>przede wszystkim: przygotowania do przyszłej konfrontacji zbrojnej w obronie Krakowa i jego mieszkańców,</li>
                        <li>kursy strzeleckie i taktyczne w jednostce paramilitarnej,</li>
                        <li>gry terenowe,</li>
                        <li>obozy wakacyjne,</li>
                        <li>wydarzenia kulturalne,</li>
                        <li>spotkania z interesującymi ludźmi,</li>
                        <li>kursy różnych umiejętności praktycznych jak pływania, jazdy konnej, skoków spadochronowych itp.,</li>
                        <li>szkolenia biznesowe,</li>
                        <li>sparingi sportowe,</li>
                        <li>uczestnictwo w konferencjach związanych z tematem wojny.</li>
                    </ul>
                </section>
                
                <section id="szkoleniowa" class="Bborder">
                    <h2>Sekcja szkoleniowa</h2>
                    <p>
                        Sekcja ta prowadzi szkolenia, ćwiczenia i warsztaty z zakresu przysposobienia obronnego studentów. Pełny cykl szkolenia obejmuje wszystkie informacje, z którymi zapoznaą się żołnierze na pierwszym roku służby, a dodatkowo umiejętności specjalizacyjne.<br/>
                        <h3>Aktualnie funkcjonuje dziesięć specjalności:</h3>
                        <ul>
                            <li>zwiadowcza,</li>
                            <li>wodno-desantowa,</li>
                            <li>powietrzno-desantowa,</li>
                            <li>szturmowa,</li>
                            <li>strzelców wyborowych,</li>
                            <li>logistyczno-zaopatrzeniowa,</li>
                            <li>inżynieryjno-saperska,</li>
                            <li>ratowniczo-medyczna,</li>
                            <li>żandarmeryjska,</li>
                            <li>dywersyjna.</li>
                        </ul>
                    </p>
                </section>

                <section id="naukowe" class="Bborder">
                    <h2>Sekcje naukowe</h2>
                    <p>
                        Działają na zasadach podobnych do kół naukowych na uczelniach. Pomagają studentom w realizacji swoich zainteresowań poprzez organizację wydarzeń kulturalnych, spotkań, dyskusji w dziedzinach związanych z wojskowością.<br/>
                        <h3>Aktualnie działają następujące sekcje:</h3>
                        <ul>
                            <li>broni, balistyki i przemysłu zbrojeniowego,</li>
                            <li>cyberwojny, wywiadu i terroryzmu,</li>
                            <li>dziennikarstwa i dokumentacji wojen,</li>
                            <li>ekonomiki wojennej,</li>
                            <li>geopolityki, geostrategii i geografii wojennej,</li>
                            <li>historii i kultury wojennej,</li>
                            <li>kryminologii i zarządzania kryzysowego,</li>
                            <li>symulacji i gier strategicznych.</li>
                        </ul>
                    </p>
                </section>

                <section id="sportowe">
                    <h2>Sekcje sportowe</h2>
                    <p>
                        Organizują wydarzenia sportowe w ramach różnych dyscyplin , co umożliwia członkom utrzymanie dobrej kondycji fizycznej i techniki.<br/>
                        <h3>Aktualnie działają następujące sekcje:</h3>
                        <ul>
                            <li>jeździectwa,</li>
                            <li>sportów motorowych i wodnych,</li>
                            <li>sportów walki i survivalu,</li>
                            <li>sportów zespołowych,</li>
                            <li>strzelectwa i sportów taktycznych,</li>
                            <li>wspinaczki, narciarstwa i turystyki górskiej.</li>
                        </ul>
                    </p>
                </section>

            </article>


{% endblock %}