{% extends 'layout.twig' %}

{% block title %}Historia{% endblock %}

{% block content %}

            <div class="clear"></div>
        </header><!-- header end -->


        <div class="content historia">
            <ul class="timeline">
                <li class="first highlighted">1918-20r.</li>
                <li class="second">1920-30r.</li>
                <li class="third">1939r.</li>
                <li class="fourth">po 2013r.</li>
            </ul>

            <article class="timeline">              
                <section class="shown hidden first">
                    <h1>1918-20r.</h1>
                    <p>
                        1 listopada dowódca krakowskiego oddziału artylerii wałowej ppor. Stanisław Miller zorganizował studentów krakowskich i wraz z korpusem oficerskim na stacji Prokocim koło Krakowa zdobyli nieuszkodzony, nowoczesny, austro-węgierski pociąg pancerny. Składał się on z dwóch wagonów czołowych-artyleryjskich, dwóch wagonów piechoty i jednego szturmowego. Ze składu pociągu zorganizowane zostały dwa pociągi pancerne: „Piłsudczyk” (P.P. nr 1, po naprawach w Nowym Sączu w grudniu 1918 r. przemianowany na "Smok") oraz „Śmiały” (P.P. nr 2), które wzięły udział w walkach o Przemyśl i Lwów. Został tam też wysłany świeżo sformowany oddział Krakowskiej Legii Akademickiej razem z krakowskimi artylerzystami w sile batalionu.
                    </p>

                    <h2>Walki w Przemyślu</h2>
                    <p>
                        Tego samego dnia - 11 listopada 1918 r. po oficjalnym utworzeniu batalionu Krakowskiej Legii Akademickiej, oba zdobyte pociągi ruszyły na odsiecz Przemyśla zajętego przez partyzantów ukraińskich.Atakiem na Przemyśl dowodził mjr J. Stachiewicz, który wcześniej podjął przygotowania do planowanego na 11 listopada ataku. Opracowany przez niego plan przewidywał:
                        <ul>
                            <li>po przygotowaniu artyleryjskim, wykonanie pierwszego uderzenia na most kolejowy, który mial zostać sforsowany z pomocą pociągu pancernego</li>
                            <li>po jego zdobyciu uderzenia na most drogowy i kładkę.</li>
                        </ul>
                        Pod osłoną pociągu pancernego główne uderzenie na most kolejowy, a potem na osobowy dworzec kolejowy miała przeprowadzić kompania przemyska, za którą miała podążać:
                        <ul>
                            <li>Krakowska Legia Akademicka,</li>
                            <li><strong>spieszony</strong> oddział artylerzystów krakowskich,</li>
                            <li>kompania kolejowa.</li>
                        </ul>
                        Drugie natarcie przez most drogowy miała wykonać kompania 5 pp z plutonem ckm, zaś przez kładkę dla pieszych miał uderzyć 8 pp.<br/>
                        Działania te miały być wspierane uderzeniami bocznymi wykonanymi w rejonie Buszkowic przez kompanię żurawicką i oddział kawalerii przemyskiej.
                    </p>
                    <p>
                        Rano 11 listopada 1918 mjr Stachiewicz wystosował do wojsk ukraińskich ultimatum z żądaniem opuszczenia miasta do godziny dwunastej. Wobec braku wszelkiej odpowiedzi, o godzinie 12.15 rozpoczęto ostrzał artyleryjski, a około godziny 13.00 przyjechał z Krakowa pierwszy pociąg pancerny mający sforsować most kolejowy. Zauważywszy go, Ukraińcy wypuścili z osobowego dworca kolejowego lokomotywę mającą zderzyć się z jadącym pociągiem pancernym. Dowódca pociągu, por. Adam Ciećkiewicz, przewidując możliwość takiej akcji jechał po przeciwnym torze tak, że rozpędzona lokomotywa minęła go.<br/>
                        Druga wypuszczona lokomotywa wykoleiła się na zwrotnicach przed mostem tarasując przejazd.<br/>
                        Natarcie rozpoczęło się o godz. 14.40. Atak przebiegał zgodnie z planem. Po zdobyciu mostu oddziały piechoty uderzyły na broniony dworzec kolejowy dwoma plutonami. Natomiast po zdobyciu dworca przybyła 
                        Krakowska Legia Akademicka, a także przeniósł tam swój sztab dowodzenia mjr J. Stachiewicza. Około godziny 20.00 walki ustały.<br/>
                        Następnego dnia - 12 listopada - od godzin porannych patrole KLA zajmowały bez większych przeszkód pozostałe części miasta - jak Górę Zamkową, Bakończyce i leżące na jego obrzeżach koszary i magazyny wojskowe. Oddziały ukraińskie wycofały się. Ostatecznie około godziny 13.00 całe miasto i wszystkie obiekty wojskowe na jego peryferiach znalazły się w rękach polskich.
                    </p>

                    <h2>Walki na linii kolejowej Lwów-Przemyśl</h2>
                    <p>
                        Datę rozpoczęcia ataku na Lwów wyznaczono na 27 grudnia 1918. Do tego czasu poszczególne jednostki miały prowadzić działania bojowe mające na celu zdobycie dogodnych podstaw wyjściowych do ataku.<br/>
                        Pociągi pancerne KLA miały zabezpieczyć łączność między otoczonym Lwowem a Polską.<br/>
                        Walki rozpoczęły się 2 grudnia.<br/>
                        3 grudnia wojska ukraińskiej Armii Halickiej zdobyły Gródek Jagielloński i przerwały (na krótki czas) linię kolejową do Przemyśla. 6 grudnia zdobyły Chyrów. Nie zdecydowały się jednak atakować dalej w kierunku Sanoka i Przemyśla.<br/>
                        W walkach tych poległo wielu legionistów. Od 16 grudnia trwały kolejne ataki na Lwów oraz na linię kolejową, szczególnie na odcinku Gródek Jagielloński-Sądowa Wisznia. Nie zakończyły się one sukcesem. KLA utrzymała linię, a 20 grudnia wojska polskie odbiły Chyrów.
                    </p>
                    <p>
                        Po tych stratach Krakowska Legia Akademicka w lutym 1919 roku została rozformowana. Część legionistów przeszła do oddziału artylerii kolejowej ppor. Stanisława Millera, i walczyła w niej na froncie śląskim w czasie III powstania. Pozostali pod dowództwem por. Leona A. de Kopffa utworzyli jednostkę szpitalną, która następnie funkcjonowała w czasie wojny bolszewickiej w Nowym Sączu, a po przesunięciu się frontu na wschód w Tarnopolu.
                    </p>
                </section>

                <section class="hidden second">
                    <h1>Lata 20 i 30</h1>
                    <p>
                        W latach 20-tych Legia przeszkoliła tysiące studentów. Tradycją stały się letnie obozy. Po powstaniu Ministerstwa Przysposobienia Obronnego utworzono stowarzyszenie zamiast jednostki wojskowej, by mogli do niej wstępować ochotnicy nie będący studentami. Przed wojną Legia jednak wciąż pozostawała zamknięta dla kobiet.<br/>
                        W latach dwudziestych do Legii Akademickiej zaczęły należeć budynki dzisiaj posiadane przez TS Wisła, przy Błoniach Krakowskich, gdzie dawniej znajdowały się koszary i strzelnica.<br/>
                        Ćwiczenia poranne można było obserwować także w czasie spaceru po Błoniach. Tradycją stały się wtedy parady legionistów w Dzień Niepodległości oraz w dzień Konstytucji 3 Maja.
                    </p>
                    <p>
                        Przełom lat 20 i 30 to okres świetności KLA, kiedy oddziały szkoleniowe mogły swobodnie ćwiczyć w sile batalionu. Na starych zdjęciach można zobaczyć ilu było członków. Dzieki aktywnemu zaangażowaniu rządu, organizacja miała wszystko, czego potrzeba do wyszkolenia:
                        <ul>
                            <li>jednolite mundury,</li>
                            <li>dostęp do broni,</li>
                            <li>amunicję.</li>
                        </ul>
                        Szkolenie prowadzili wojskowi wyznaczeni przez Ministerstwo Przysposobienia Obronnego.
                    </p>
                    <p>
                        Wśród absolwentów szkoleń znaleźli się wybitni Polacy między innymi Karol Wojtyła, student, który później został papieżem.
                    </p>
                </section>

                <section class="hidden third">
                    <h1>1939r.</h1>
                    <p>
                        Gdy wybuchła wojna, studenci KLA byli jeszcze na wakacjach i front przeszedł zanim zdążyli się zebrać w Krakowie. Część zdążyła dołączyć do lokalnych oddziałów partyzanckich - między innymi do później sformowanego oddziału AK „Skała”, nie stanowili jednak zwartego komponentu. Ich wyszkolenie pomogło im przetrwać wojnę.<br/>
                        Pozostali nie mogąc odtworzyć KLA, założyli popularny dziś Akademicki Związek Sportowy.
                    </p>
                </section>

                <section class="hidden fourth">
                    <h1>po 2013r.</h1>
                    <p>
                        KLA reaktywowana przez studentów na początku 2013 roku, jest stowarzyszeniem o nieco odmiennym charakterze niż pozostałe Legie Akademickie. Jej struktury składają się z trzech pionów:
                        <ul>
                            <li>naukowego - czyli sekcji (kół) naukowych, które zajmują się różnymi dziedzinami nauki związanymi z wojną,</li>
                            <li>sportowego - służący do rozwijania kondycji fizycznej członków,</li>
                            <li>paramilitarnego - poświęconego szkoleniom wojskowym.</li>
                        </ul>
                    </p>
                </section>
            </article>


{% endblock %}