{% extends 'layout.twig' %}

{% block title %}Quiz{% endblock %}

{% block content %}

            <div class="clear"></div>
        </header><!-- header end -->


        <div class="content quiz">
        <div id="main-quiz-holder">
            <div id="intro-container" class="questionContainer border"> 
                <h1> Znajdź drużynę dla siebie! </h1>
                <p>
                    Nie wiesz, która drużyna będzie dla Ciebie najlepsza?<br/>
                    Ten quiz pomoże Ci dokonać wyboru.<br>
                    Musisz odpowiedzieć na 15, które pomogą w określeniu Twojego charakteru i zdolności.
                    W każdej chwili możesz cofnąć się do poprzednich pytań i poprawić swoją odpowiedź.<br/>
                    Na końcu otrzymasz wyniki procentowe, określające jak bardzo pasujesz do danej drużyny.
                </p>
                <a class="btnStart" href="#">Start</a>
            </div>

           
                <div class="questionContainer hidden"> 
                    <p class="question" id="1">Co wybierasz w sytuacji zagrożenia?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q1" value="a" id="q1a"><label for="q1a">atak</label></li>
                        <li><input type="radio" name="q1" value="b" id="q1b"><label for="q1b">obronę</label></li>
                        <li><input type="radio" name="q1" value="c" id="q1c"><label for="q1c">unik</label></li>
                    </ul>

                    <div class="btnContainer">
                        <div class="next"><a class="btnNext"  href="#">Następne</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="2">Jaki jest Twój stosunek do wody?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q2" value="a" id="q2a"><label for="q2a">świetnie pływam i lubię nurkować</label></li>
                        <li><input type="radio" name="q2" value="b" id="q2b"><label for="q2b">dość dobrze pływam, ale tylko w ciepłej wodzie</label></li>
                        <li><input type="radio" name="q2" value="c" id="q2c"><label for="q2c">nie umiem pływać i boję się utonięcia</label></li>
                    </ul>

                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="3">Jakiego jesteś wzrostu?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q3" value="a" id="q3a"><label for="q3a">180cm lub więcej</label></li>
                        <li><input type="radio" name="q3" value="b" id="q3b"><label for="q3b">między 165-179cm</label></li>
                        <li><input type="radio" name="q3" value="c" id="q3c"><label for="q3c">poniżej 165 cm</label></li>
                    </ul>

                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="4">Jaką masz kondycję?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q4" value="a" id="q4a"><label for="q4a">dobrą</label></li>
                        <li><input type="radio" name="q4" value="b" id="q4b"><label for="q4b">przeciętną</label></li>
                        <li><input type="radio" name="q4" value="c" id="q4c"><label for="q4c">muszę nad nią popracować</label></li>
                    </ul>

                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="5">Kogo chciałbyś mieć w drużynie?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q5" value="a" id="q5a"><label for="q5a">najlepiej samych mężczyzn</label></li>
                        <li><input type="radio" name="q5" value="b" id="q5b"><label for="q5b">mieszany skład / obojętnie</label></li>
                        <li><input type="radio" name="q5" value="c" id="q5c"><label for="q5c">najlepiej same kobiet</label></li>
                    </ul>

                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="6">Jaką broń zabrałbyś na pole walki, jako sowją broń główną?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q6" value="a" id="q6a"><label for="q6a">ciężki karabin szturmowy</label></li>
                        <li><input type="radio" name="q6" value="b" id="q6b"><label for="q6b">lekka broń automatyczna</label></li>
                        <li><input type="radio" name="q6" value="c" id="q6c"><label for="q6c">coś innego</label></li>
                    </ul>

                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="7">Co wybrałbyś jako broń dodatkową?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q7" value="a" id="q7a"><label for="q7a">nóż, bagnet lub inną broń białą</label></li>
                        <li><input type="radio" name="q7" value="b" id="q7b"><label for="q7b">granaty i ładunki wybuchowe</label></li>
                        <li><input type="radio" name="q7" value="c" id="q7c"><label for="q7c">pistolet</label></li>
                    </ul>

                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="8">Czym chciałbyś jeździć w wojsku?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q8" value="a" id="q8a"><label for="q8a">czołgami i wozami ciężkimi</label></li>
                        <li><input type="radio" name="q8" value="b" id="q8b"><label for="q8b">ciężarówką z zaopatrzeniem</label></li>
                        <li><input type="radio" name="q8" value="c" id="q8c"><label for="q8c">samochodem terenowym</label></li>
                        <li><input type="radio" name="q8" value="d" id="q8d"><label for="q8d">na motocyklu lub helikopterem</label></li>
                    </ul>

                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="9">Gdzie zajmowałbyś się, gdyby wybuchła wojna?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q9" value="a" id="q9a"><label for="q9a">walką na froncie</label></li>
                        <li><input type="radio" name="q9" value="b" id="q9b"><label for="q9b">pomocą na zapleczu, ale jeżeli będzie taka konieczność - walką na froncie (IS, Dyw)</label></li>
                        <li><input type="radio" name="q9" value="c" id="q9c"><label for="q9c">pomocą na zapleczu i pomocą medyczną, ale nie walką (LZ, Żand, RM)</label></li>
                        <li><input type="radio" name="q9" value="d" id="q9d"><label for="q9d">jeżeli by się udało, uciekłbym z kraju, jeżeli nie - unikam walki (SN, SS)</label></li>
                    </ul>

                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="10">Gdybym musiał zabić kogoś na wojnie...</p>
                    <ul class="answers">
                        <li><input type="radio" name="q10" value="a" id="q10a"><label for="q10a">zrobiłbym to z zimną krwią</label></li>
                        <li><input type="radio" name="q10" value="b" id="q10b"><label for="q10b">podszedłbym do tego jak żołnierz, ale kosztowało by mnie to sporo emocji</label></li>
                        <li><input type="radio" name="q10" value="c" id="q10c"><label for="q10c">nie jestem pewnien, czy dałbym radę</label></li>
                        <li><input type="radio" name="q10" value="d" id="q10d"><label for="q10d">na pewno bym nie potrafił</label></li>
                    </ul>

                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="11">Jak oceniłbyś swój wzrok i słuch?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q11" value="a" id="q11a"><label for="q11a">bardzo dobrze</label></li>
                        <li><input type="radio" name="q11" value="b" id="q11b"><label for="q11b">przeciętnie</label></li>
                        <li><input type="radio" name="q11" value="c" id="q11c"><label for="q11c">niezbyt dobrze</label></li>
                    </ul>

                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="12">Jaka jest Twoja orientacja w terenie?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q12" value="a" id="q12a"><label for="q12a">bardzo dobra - nie zgubię się nawet bez mapy</label></li>
                        <li><input type="radio" name="q12" value="b" id="q12b"><label for="q12b">dobra - poradzę sobie wszędzie, ale tylko z mapą i kompasem</label></li>
                        <li><input type="radio" name="q12" value="c" id="q12c"><label for="q12c">słaba - mogę się zgubić</label></li>
                    </ul>

                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="13">Jesteś w stanie bez oporów robić to, co Ci rozkazano?</p>
                    <ul class="answers">
                        <li><input type="radio" name="q13" value="a" id="q13a"><label for="q13a">będę słuchał rozkazów i ich nie zakwestionuję - bo tak trzeba</label></li>
                        <li><input type="radio" name="q13" value="b" id="q13b"><label for="q13b">nie ma problemu, chyba że rozkazy są głupie</label></li>
                        <li><input type="radio" name="q13" value="c" id="q13c"><label for="q13c">rozkazy to tylko luźne wskazówki, mogę to przecież zrobić lepiej, po swojemu</label></li>
                        <li><input type="radio" name="q13" value="d" id="q13d"><label for="q13d">zawsze działam na własną rękę</label></li>
                    </ul>
                
                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnNext"  href="#">Dalej</a></div> 
                        <div class="clear"></div> 
                    </div>
                </div>
                <div class="questionContainer hidden"> 
                    <p class="question" id="14">W jakim zespole chciałbyś działać na wojnie?</p>
                        <ul class="answers">
                            <li><input type="radio" name="q14" value="a" id="q14a"><label for="q14a">najlepiej samodzielnie</label></li>
                            <li><input type="radio" name="q14" value="b" id="q14b"><label for="q14b">najwyżej z jednym partnerem</label></li>
                            <li><input type="radio" name="q14" value="c" id="q14c"><label for="q14c">sekcja 3-osobowa byłaby idealna</label></li>
                            <li><input type="radio" name="q14" value="d" id="q14d"><label for="q14d">sekcja 4-osobowa byłaby idealna</label></li>
                            <li><input type="radio" name="q14" value="e" id="q14e"><label for="q14e">całą druzyną</label></li>
                        </ul>
                    <div class="btnContainer"> 
                        <div class="prev"><a class="btnPrev" href="#">Wróć</a></div> 
                        <div class="next"><a class="btnShowResult" href="#">Wyniki</a></div>
                        <div class="clear"></div> 
                    </div>
                </div>
          
            

            
              
            
            <div id="progressKeeper"> 
                
                <div id="progress"> <p> Postęp</p>
                </div> 
            </div> 
            <div id="notice"> 
                Wybierz odpowiedź 
            </div>
            <div id="results-container" class="questionContainer hidden"> 
            <div id="resultKeeper">
                <article class="Tborder">
                    <h1>Wyniki</h1>
                    <h2>Drużyna:</h2>
                    
                    <div id="PD"><strong>(PD) – drużyna powietrzno-desantowa</strong>, uderzają skacząc z helikoptera lub samolotu przy użyciu karabinów lub lżejszego sprzętu, doskonale radzą sobie w nieznanym terenie, są bardzo odważnymi, by nie bać się skoczyć i w razie rozsypania na dużym obszarze za linią frontu potrafić radzić sobie samodzielnie <button class="quiz button">100%</button></div>
                    
                    <p id="WD"><strong>(WD) – drużyna wodno-desantowa</strong>, świetni pływacy, dla nich woda to naturalne środowisko, przeszkoleni w pokonywaniu przeszkód wodnych i nurkowaniu umiejętnie zaskakują przeciwnika wynurzając się tam gdzie ataku się nie spodziewa za pomocą ciężkiego sprzętu i ostrych noży, gdy ich się jeszcze nie zobaczy <button class="quiz button">100%</button></p>
                    
                    <p id="SW"><strong>(SW) – drużyna strzelców wyborowych</strong>, to ludzie o sokolim wzroku i pewnej ręce, nie tylko używających karabinów z celownikami optycznymi, ale każdej broni strzeleckiej z dużą skutecznością, specjalizują się w eliminowaniu przeciwnika z ukrycia i z dużej odległości <button class="quiz button">100%</button></p>

                    <p id="Szt"><strong>(Szt) – drużyna szturmowa</strong>, to żołnierze przeznaczeni do frontalnych ataków, po zęby uzbrojeni i najodważniejsi, silni by radzić sobie z mnóstwem ekwipunku, ciężką bronią i granatami na raz, śmiertelni w bezpośrednim starciu i bezwzględni dla wrogów, szybko zajmują budynki i teren, gdyż są najlepiej przeszkoleni taktycznie <button class="quiz button">100%</button></p>
                    
                    <p id="Zw"><strong>(Zw) – drużyna zwiadowcza</strong>, to mała ekipa działająca samotnie lub w parach, w celu szybkiej identyfikacji, rozpoznania działań przeciwnika, znają go i potrafią go wytropić, specjalizują się w cichej wojnie, doskonale posługując się bronią białą, potrafią łapać jeńców, a szczególnie oficerów wroga <button class="quiz button">100%</button></p>

                    <p id="IS"><strong>(IS) – drużyna inżyniersko-saperska</strong>, to ekipa profesjonalistów, znających się na broni, jej naprawianiu, konserwowaniu, na wszelkim sprzęcie wojskowym, pojazdach, bez nich reszta mogła by zapewne utknąć gdzieś w polu, ponadto znają się też na ładunkach wybuchowych i potrafią zakładać pola minowe, jak i je rozpoznawać i omijać <button class="quiz button">100%</button></p>

                    <p id="RM"><strong>(RM) – drużyna ratunkowo-medyczna</strong>, to ludzie odpowiedzialni za ratowanie rannych na polu walki i w różnych katastrofach, przeszkoleni z udzielenia pomocy również w warunkach walki są lżej uzbrojeni ale bez nich nasze oddziały szybko by się nie pozbierały, znają biegle sprzęt medyczny i chyba wszystkie choroby i rodzaje ran, i oczywiście nie boją się krwi <button class="quiz button">100%</button></p>

                    <p id="LZ"><strong>(LZ) – drużyna logistyczno-zaopatrzeniowa</strong>, najlepsza fucha dla lubiących gotować, pracują na zapleczu, by reszta wojaków miała chwilę wytchnienia, zapewniają dach nad głową, ciepły posiłek, ale i zaopatrują każdą drużynę w amunicję i paliwo oraz inne niezbędne rzeczy opiekując się taborami <button class="quiz button">100%</button></p>

                    <p id="Dyw"><strong>(Dyw) – drużyna dywersyjna</strong>, przeznaczona do operowania na tyłach wroga i sabotowania wszelkich jego działań przez detonowanie mostów, linii kolejowych, zatruwanie źródeł wody, niszczenie zapasów, dezorientację przeciwnika, ale w razie potrzeby potrafiąca się skryć i odeprzeć ogniem w walce konwencjonalnej <button class="quiz button">100%</button></p>

                    <p id="Zand"><strong>(Żand) – drużyna żandarmeryjna</strong>, specjalizuje się w utrzymaniu porządku wewnątrz jednostki oraz na terenie okupowanym, gdzie należy ostrożnie postępować z ludnością cywilną, potrafią ponadto skutecznie stosować środki przymusu bezpośredniego, potrzebnego do kajdankowania i egzekwowania rozkazów oraz aresztowań, wykonują także wyroki oraz przesłuchują jeńców, odpowiadają za bezpieczeństwo wewnętrzne oddziału, są doskonałymi wartownikami <button class="quiz button">100%</button></p>

                    <p id="S"><strong>(S) – sekcje sportowe</strong>, działają przy KLA, jako koła niemilitarne, działają organizując spotkania i rywalizację członków w różnych dyscyplinach, co ma członkom dać możliwość utrzymania dobrej kondycji fizycznej i techniki <button class="quiz button">100%</button></p>

                    <p id="SN"><strong>(SN) – sekcje naukowe</strong>, działają przy KLA, jako koła niemilitarne, pomagają studentom w realizacji swoich zainteresowań poprzez organizację wydarzeń kulturalnych, spotkań, dyskusji w dziedzinach związanych z wojskowością <button class="quiz button">100%</button></p>
                </article>
                </div> 
                </div> 
               </div>
            </div>


{% endblock %}