{% extends 'layout.twig' %}

{% block title %}Quiz{% endblock %}

{% block content %}

            <div class="clear"></div>
        </header><!-- header end -->


        <div class="content quiz">
            <p>
                Nie wiesz jaką specjalność wybrać? Ten quiz pomoże Ci odpowiednio wybrać.<br/>
                Quiz ma 15 pytań, na których odpowiedź ułatwi dopasowanie do Ciebie odpowiedniej drużyny.<br/>
                W każdej chwili możesz cofnąć się do poprzednich pytań i poprawić swoją odpowiedź.<br/>
                Na końcu otrzymasz wykaz drużyn wraz <strong>ze swoim dopasowaniem</strong>.<br/>
            </p>

            <ol>
                <li>Co wybierasz w sytuacji zagrożenia?
                    <ul>
                        <li>atak (punkt: WD, Szt, PD)</li>
                        <li>obrona (punkt: IS, RM, LZ, Żand)</li>
                        <li>unik (punkt: Zw, SW, Dyw, SN, SS)</li>
                    </ul>
                </li>

                <li>Jaki jest Twój stosunek do wody?
                    <ul>
                        <li>świetnie pływam i lubię nurkować(punkt: WD, Szt, PD, RM, Zw)</li>
                        <li>dość dobrze pływam, ale tylko w ciepłej wodzie (punkt: IS, SW, Dyw, SS)</li>
                        <li>nie umiem pływać i boję się, że utonę (punkt: LZ, Żand, SN)</li>
                    </ul>
                </li>

                <li>Jakiego jesteś wzrostu?
                    <ul>
                        <li>180cm lub więcej (Szt, RM, IS, SS, Żand.)</li>
                        <li>między 165-179cm (Dyw, WD, LZ)</li>
                        <li>poniżej 165 cm (Zw, SW, SN, PD)</li>
                    </ul>
                </li>

                <li>Jaką masz Twoja kondycję?
                    <ul>
                        <li>silną (Szt, SS, Żand, WD, Zw,)</li>
                        <li>przeciętną (RM, Dyw, SW, PD)</li>
                        <li>muszę nad nią popracować (IS, LZ, SN)</li>
                    </ul>
                </li>

                <li>Kogo chciałbyś mieć w drużynie?
                    <ul>
                        <li>najlepiej samych mężczyzn (Szt, Zw, PD)</li>
                        <li>mieszany skład / obojętnie (SS, WD, Dyw, SW, IS)</li>
                        <li>najlepiej same kobiety (Żand, RM, LZ, SN) </li>
                    </ul>
                </li>

                <li>Jaką broń zabrałbyś na pole walki jako sowją broń główną?
                    <ul>
                        <li>ciężki karabin szturmowy (Szt, WD, PD, Dyw)</li>
                        <li>lekka broń automatyczna (Zw, IS, Żand, RM)</li>
                        <li>coś innego (SS, SW, LZ, SN)</li>
                    </ul>
                </li>

                <li>Co wybrałbyś jako broń dodatkową?
                    <ul>
                        <li>nóż, bagnet lub inną broń białą (WD, Zw, Żand, RM, SS)</li>
                        <li>granaty i ładunki wybuchowe (Szt, PD, Dyw, IS, SN)</li>
                        <li>pistolet (SW, LZ)</li>
                    </ul>
                </li>

                <li>Czym chciałbyś jeździć w wojsku?
                    <ul>
                        <li>czołgami i wozami ciężkimi (Szt, SN)</li>
                        <li>ciężarówką, <strong>a na pace pełne zaopatrzenie</strong> (IS, Dyw, LZ, Żand)</li>
                        <li>samochodem terenowym (WD, SW, RM)</li>
                        <li>na motocyklu lub helikopterem (PD, Zw, SS)</li>
                    </ul>
                </li>

                <li>Gdzie znalazłbyś się, gdyby wybuchła wojna?
                    <ul>
                        <li>walczę na froncie (Szt, WD, SW, PD, Zw) </li>
                        <li>pomagam na zapleczu, ale jeżeli będzie taka konieczność - walczę na froncie (IS, Dyw)</li>
                        <li>pomagam na zapleczu i <storng>ratuję</strong>, ale nie walczę (LZ, Żand, RM)</li>
                        <li>uciekam z kraju, a jeżeli się nie da, unikam walki (SN, SS) </li>
                    </ul>
                </li>

                <li>Gdybym musiał zabić kogoś na wojnie:
                    <ul>
                        <li>zrobiłbym to z zimną krwią (Szt, WD, SW, PD, Zw)</li>
                        <li>podszedłbym do tego jak żołnierz, ale kosztowało by mnie to sporo emocji (Dyw, Żand)</li>
                        <li>nie jestem pewnien, czy dałbym radę (IS, LZ, RM)</li>
                        <li>na pewno bym nie potrafił (SS, SN)</li>
                    </ul>
                </li>

                <li>Jak ocenilbyś swój wzrok i słuch?
                    <ul>
                        <li>bardzo dobrze (SW, Zw, Dyw, RM)</li>
                        <li>przeciętnie (WD, Szt, PD, Żand, IS)</li>
                        <li>niezbyt dobrze (LZ, SS, SN)</li>
                    </ul>
                </li>

                <li>Jaka jest Twoja orientację w terenie?
                    <ul>
                        <li>nie zgubię się nawet bez mapy (SW, Zw, Dyw, PD)</li>
                        <li>poradzę sobie wszędzie, ale tylko z mapą i kompasem (RM, WD, Szt, Żand, IS, LZ)</li>
                        <li>słabą (SS. SN)</li>
                    </ul>
                </li>

                <li>Jesteś w stanie robić to, co Ci rozkazano bez oporów?
                    <ul>
                        <li>będę słuchał rozkazów i ich nie zakwestionuję - bo tak trzeba (PD, WD, Szt, Żand)</li>
                        <li>nie mam problemu, chyba że rozkazy są głupie (Zw, Dyw, IS, LZ)</li>
                        <li>rozkazy to tylko luźne wskazówki, mogę to przecież zrobić lepiej, po swojemu (RM)</li>
                        <li>zawsze działam na własną rękę (SW, SS, SN)</li>
                    </ul>
                </li>

                <li>W jakim zespole chciałbyś działać na wojnie?
                    <ul>
                        <li>najlepiej samodzielnie (PD, IS)</li>
                        <li>najwyżej z jednym partnerem (Zw, LZ, SW)</li>
                        <li>sekcja 3-osobowa byłaby idealna (WD, Żand, Dyw)</li>
                        <li>sekcja 4-osobowa byłaby idealna (RM)</li>
                        <li>całą druzyną (Szt, SN, SS)</li>
                    </ul>
                </li>
            </ol>

            <article class="Tborder">
                <h1>Wyniki</h1>
                <h2>Drużyna:</h2>
                
                <p>(PD) – drużyna powietrzno-desantowa, uderzają skacząc z helikoptera lub samolotu przy użyciu karabinów lub lżejszego sprzętu, doskonale radzą sobie w nieznanym terenie, są bardzo odważnymi, by nie bać się skoczyć i w razie rozsypania na dużym obszarze za linią frontu potrafić radzić sobie samodzielnie <button class="quiz button">100%</button></p>
                
                <p>(WD) – drużyna wodno-desantowa, świetni pływacy, dla nich woda to naturalne środowisko, przeszkoleni w pokonywaniu przeszkód wodnych i nurkowaniu umiejętnie zaskakują przeciwnika wynurzając się tam gdzie ataku się nie spodziewa za pomocą ciężkiego sprzętu i ostrych noży, gdy ich się jeszcze nie zobaczy <button class="quiz button">100%</button></p>
                
                <p>(SW) – drużyna strzelców wyborowych, to ludzie o sokolim wzroku i pewnej ręce, nie tylko używających karabinów z celownikami optycznymi, ale każdej broni strzeleckiej z dużą skutecznością, specjalizują się w eliminowaniu przeciwnika z ukrycia i z dużej odległości <button class="quiz button">100%</button></p>

                <p>(Szt) – drużyna szturmowa, to żołnierze przeznaczeni do frontalnych ataków, po zęby uzbrojeni i najodważniejsi, silni by radzić sobie z mnóstwem ekwipunku, ciężką bronią i granatami na raz, śmiertelni w bezpośrednim starciu i bezwzględni dla wrogów, szybko zajmują budynki i teren, gdyż są najlepiej przeszkoleni taktycznie <button class="quiz button">100%</button></p>
                
                <p>(Zw) – drużyna zwiadowcza, to mała ekipa działająca samotnie lub w parach, w celu szybkiej identyfikacji, rozpoznania działań przeciwnika, znają go i potrafią go wytropić, specjalizują się w cichej wojnie, doskonale posługując się bronią białą, potrafią łapać jeńców, a szczególnie oficerów wroga <button class="quiz button">100%</button></p>

                <p>(IS) – drużyna inżyniersko-saperska, to ekipa profesjonalistów, znających się na broni, jej naprawianiu, konserwowaniu, na wszelkim sprzęcie wojskowym, pojazdach, bez nich reszta mogła by zapewne utknąć gdzieś w polu, ponadto znają się też na ładunkach wybuchowych i potrafią zakładać pola minowe, jak i je rozpoznawać i omijać <button class="quiz button">100%</button></p>

                <p>(RM) – drużyna ratunkowo-medyczna, to ludzie odpowiedzialni za ratowanie rannych na polu walki i w różnych katastrofach, przeszkoleni z udzielenia pomocy również w warunkach walki są lżej uzbrojeni ale bez nich nasze oddziały szybko by się nie pozbierały, znają biegle sprzęt medyczny i chyba wszystkie choroby i rodzaje ran, i oczywiście nie boją się krwi <button class="quiz button">100%</button></p>

                <p>(LZ) – drużyna logistyczno-zaopatrzeniowa, najlepsza fucha dla lubiących gotować, pracują na zapleczu, by reszta wojaków miała chwilę wytchnienia, zapewniają dach nad głową, ciepły posiłek, ale i zaopatrują każdą drużynę w amunicję i paliwo oraz inne niezbędne rzeczy opiekując się taborami <button class="quiz button">100%</button></p>

                <p>(Dyw) – drużyna dywersyjna, przeznaczona do operowania na tyłach wroga i sabotowania wszelkich jego działań przez detonowanie mostów, linii kolejowych, zatruwanie źródeł wody, niszczenie zapasów, dezorientację przeciwnika, ale w razie potrzeby potrafiąca się skryć i odeprzeć ogniem w walce konwencjonalnej <button class="quiz button">100%</button></p>

                <p>(Żand) – drużyna żandarmeryjna, specjalizuje się w utrzymaniu porządku wewnątrz jednostki oraz na terenie okupowanym, gdzie należy ostrożnie postępować z ludnością cywilną, potrafią ponadto skutecznie stosować środki przymusu bezpośredniego, potrzebnego do kajdankowania i egzekwowania rozkazów oraz aresztowań, wykonują także wyroki oraz przesłuchują jeńców, odpowiadają za bezpieczeństwo wewnętrzne oddziału, są doskonałymi wartownikami <button class="quiz button">100%</button></p>

                <p>(SS) – sekcje sportowe, działają przy KLA, jako koła niemilitarne, działają organizując spotkania i rywalizację członków w różnych dyscyplinach, co ma członkom dać możliwość utrzymania dobrej kondycji fizycznej i techniki <button class="quiz button">100%</button></p>

                <p>(SN) – sekcje naukowe, działają przy KLA, jako koła niemilitarne, pomagają studentom w realizacji swoich zainteresowań poprzez organizację wydarzeń kulturalnych, spotkań, dyskusji w dziedzinach związanych z wojskowością <button class="quiz button">100%</button></p>
            </article>


{% endblock %}