{% extends 'layout.twig' %}

{% block title %}Dlaczego warto się szkolić?{% endblock %}

{% block content %}

            <div class="clear"></div>
        </header><!-- header end -->


<div class="content warto">
            <article class="top korzysci Bborder">
                <figure>
                    <img src="{{ app.request.basepath }}/media/layout/Roszczenia.jpg" alt="roszczenia terytorialne" />
                    {#<figcaption>
                        <p>
                            Polska od wieków stanowiła terytorium, które jej sąsiedzi chętnie by zagarnęli.<br/>
                            Rysunek pokazuje to o czym głośno się nie mówi. Rosja i Białoruś jako bliscy sojusznicy planują zaganięcie reszty dawnych Prus Wschodnich, wraz z korytarzem łączącym je z ziemiami zamieszkanymi przez prawosławną mniejszość. Litwini chętnie dołaczyliby tereny zamieszkane przez mniejszość litewską. Ambasada ukraińska w USA ujawniła ostatnio swe roszczenia terytorialne i na Przemyślu by się nie skończyło.<br/>
                            Słowacja okupowała Podhale w czasie II wojny światowej, a Czesi również nie są zadowoleni z przebiegu granicy. Największe roszczenia dążące do przywrócenia granic rozbiorowych ma rząd Niemiec, który ulega namowom tzw. Związku Wypędzonych. Dodatkowo, jeśli sytuacja gospodarcza na Śląsku będzie się pogarszać, czy nie może nam grozić rosnący separatyzm w tym regionie?<br/>
                            Mamy zatem szereg zagrożeń dla integralności POLSKI!
                        </p>
                    </figcaption>#}
                </figure>
                <figure>
                    <img src="{{ app.request.basepath }}/media/layout/armia.jpg" alt="druga mapka" />
                    {#<figcaption>
                        <h1>Polska armia jest 12-krotnie słabsza od Rosji</h1>
                        <p>
                            Mówi się coraz powszechniej, że istnieje silne zagrożenie ze strony zbrojącej się Rosji. Ma ona w tej chwili na Polską około 12-krotną przewagę w potędze militarnej. Aby NATO przyszło z pomocą Polsce, kraj musi się bronić sam przez trzy miesiące. Takie są zapisy traktatu. Według obliczeń w sztabie, Polacy mogą się bronić przy takiej dysproporcji 3 dni.
                        </p>
                        <p>
                            Dlatego musimy szkolić rezerwy, by wzmocnić naszą armię.<br/>
                            To nasz patriotyczny obowiązek!
                        </p>
                    </figcaption> #}
                </figure>
                <div class="clear"></div>
            </article>

            <article class="korzysci">
                <section>
                    <h1>Korzyści zawodowe:</h1>
                    <ul>
                        <li>nauka nowych umiejętności,</li>
                        <li>certyfikaty ukończonych szkoleń,</li>
                        <li>możliwość uzyskania stopnia wojskowego,</li>
                        <li>możliwość zdobycia stypendiów dla studentów,</li>
                        <li>możliwość podjęcia ciekawych praktyk i staży,</li>
                        <li>możliwość nawiązania stałej współpracy z wojskiem,</li>
                        <li>możliwość zatrudnienia przez jednego ze sponsorów.</li>
                    </ul>
                </section>
                
                <section>
                    <h1>Korzyści osobiste:</h1>
                    <ul>
                        <li>sprawdzisz się,</li>
                        <li>podniesiesz swoje kompetencje,</li>
                        <li>poznasz ciekawych ludzi,</li>
                        <li>będziesz mógł chodzić w mundurze,</li>
                        <li>poprawisz kondycję, wygląd i samopoczucie,</li>
                        <li>nie będziesz się nudził,</li>
                        <li>przysłużysz się ojczyźnie,</li>
                        <li>zdobędziesz szacunek ludzi.</li>
                    </ul>
                </section>
                
                <section>
                    <h1>Przygoda:</h1>
                    <p>zrealizujesz swoje marzenia o:</p>
                    <ul>
                        <li>skokach spadochronowych,</li>
                        <li>nurkowaniu,</li>
                        <li>strzelaniu,</li>
                        <li>wspinaczce,</li>
                        <li>podróżach.</li>
                    </ul>
                </section>
            </article>
                


{% endblock %}