{% extends 'layout.twig' %}

{% block title %}Not found{% endblock %}
{% block content %}
	
    <div>
        <h1> Breathe deeply. Stay calm.</h1>
        <h2>The page you're looking for was not found. </h2>
        
        {% for flashMessage in app.session.getFlashBag.get('message') %}
            <div class="alert alert-{{ flashMessage.type }}">
                {{ flashMessage.content }}
            </div>
        {% endfor %}
    </div>
    
    {#
    <p><a href="{{ url('/ads/') }}" title="Home">Back to the homepage.</a></p>
    #}

{% endblock %}